<!DOCTYPE html>
<html lang="en">
<style type='text/css'>
    table {
        border: 1px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 86%;
        margin: auto;
    }

    td,
    th {
        border: 1px solid black !important;
        padding: 5px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}


<section class="py-1">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <h3>Список людей</h3>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <a href="/addprsn" type="button" class="btn btn-success btn-lg"><b>Добавить студента в базу</b></a>
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-4">
                    <a href="/fr_page" type="button" class="btn btn-danger btn-lg"><b>Начать сканирование</b></a>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>
 <div class="row text-center" style="padding: 20px;margin: 20px;">
        <div class="col"
            style="border-radius: 20px;padding: 0px;background-color:rgb(211,211,211,0.5);margin:0px 10px 10px 10px;min-height: 400px;">
            <h2 style="border-radius: 20px 20px 0px 0px;background-color: #0b4c61;color: white;padding: 10px;">Today's
                Attendance <i class="material-icons">assignment</i>
            </h2>
 <table class="table" style="width: 80%; background-color: white;" >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ФИо</th>
                        <th>Группа</th>
                        <th>Активность</th>
                        <th>Добавлен</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[3]}}</td>
                            <td>{{item[4]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
 </div>

</body>
</html>